*{margin: 0;padding: 0;font-family: "微软雅黑" !important;}
html{font-size: 20px;}
li{ list-style:none; }
a{ text-decoration:none; }
img{ vertical-align:top; }
header{
	width: 18.0rem;
	height: 3.225rem;
	overflow: hidden;
	background: url(../image/banner.jpg) no-repeat center;
	background-size: 18.0rem 3.225rem
}
form{
	width: 17.5rem;
	height: 2.6rem;
	margin: 0 auto;
	background: #efeff0;
	position: relative;
	overflow: hidden;
}
form .inp1{
	width: 9.65rem;
	height: 1.575rem;
	padding-left: 4.3rem;
	font-size: 0.6rem;
	display: block;
	margin: 0.475rem auto;
	outline: none;
	border: 1px solid #e0e0e2;
	border-radius: 0.75rem;
}
form .inp2{
	width: 0.9rem;
	height: 0.9rem;
	background: url(../image/sec.png) no-repeat center;
	background-size: 0.9rem 0.9rem;
	position: absolute;
	left: 4.75rem;
	top: 0.875rem;
	border: none;
	outline: none;
}
.nav_bg{
	width: 18.0rem;
	overflow: hidden;
}
nav{
	width: 17.5rem;
	height: 2.5rem;
	border-top:1px solid #e0e0e2;
	border-bottom:1px solid #e0e0e2;
	overflow: hidden;
	margin: 0 auto;
}
.nav_l{
	width: 4.475rem;
	height: 100%;
	background: #000;
	float: left;
	text-align: center;
	line-height: 2.5rem;
	font-size: 0.65rem;
	color: #fff;
}
.nav_r{
	font-size: 0.525rem;
	line-height: 0.7rem;
	width: 12.225rem;
	height: 2.3rem;
	padding: 0.2rem 0.375rem 0 0.25rem;
	padding-left: 0.4rem;
	color: #fff;
	float: right;
	background: url(../image/nav_r.png) no-repeat 0.475rem 0.175rem #e60012;
	background-size: 0.725rem 0.725rem;
	text-indent: 2em;
}
.nav_r span{
	font-weight: bold;
	color: #fffc00;
}
.subst{
	height: 2.55rem;
	display: none;
}
.main_cc{
	width: 17.5rem;
	overflow: hidden;
	margin: 0 auto;
}
.cc_l{
	width: 4.475rem;
	float: left;
}
.l_area{
	overflow: hidden;
}
.l_area h1{
	width: 4.375rem;
	height: 1.15rem;
	font-size: 0.6rem;
	text-align: center;
	line-height: 1.15rem;
	border: 1px solid #e0e0e2;
	background: #efeff0;
}
.l_area p{
	width: 4.375rem;
	height: 2.5rem;
	font-size: 0.65rem;
	text-align: center;
	line-height: 2.5rem;
	color: #000;
	border: 1px solid #e0e0e2;
}
.l_area p.on1{
	background: #e60012;
	color: #fff;
}
.cc_r{
	width: 12.5rem;
	float: right;
	overflow: hidden;
}
.area_sch{
	display: none;
}
.school{
	width: 12.5rem;
	height: 3.65rem;
	border-bottom: 1px solid #e0e0e2;
	overflow: hidden;
}
.school p{
	font-size: 0.7rem;
	line-height: 0.7rem;
	margin-left: 0;
	margin-top: 0.5rem;
}
.school div{
	height: 1.15rem;
	margin-top: 0.65rem;
	overflow: hidden;
}
.school div a{
	font-size: 0.5rem;
	color: #fff;
	width: 2.9rem;
	height: 1.15rem;
	background: #000;
	text-align: center;
	line-height: 1.15rem;
	margin-left: 0.3rem;
	float: left;
}
.school div a:nth-child(1){
	margin-left: 0
}
.school div a:nth-child(4){
	background: #e60012;
}
.foot{
	margin-top: 0.75rem;
	width: 18.0rem;
}
.foot p{
	font-size: 0.6rem;
	color: #e60012;
	padding-left: 8.325rem;
	line-height: 0.6rem;
	background: url(../image/xin.png) no-repeat 7.15rem center;
	background-size: 0.8rem 0.625rem
}
.foot a{
	font-size: 0.6rem;
	color: #e60012;
	padding-left: 6.95rem;
	line-height: 0.6rem;
	margin-top: 0.5rem;
	background: url(../image/jt.png) no-repeat 5.95rem center;
	background-size: 0.375rem 0.325rem;
	display: block;
}
.foot a:nth-child(2){
	margin-top: 0.85rem;
}
.foot a:nth-child(4){
	margin-bottom: 0.5rem;
}